{% extends "base.html" %}
{% load form_tags %}
{% block title %} Modifier-Enseignant {% endblock %}

{% block content %}


    <style>
        /* Style pour les labels */
        label {
            font-weight: bold;
            color: #333;
            /* Changer la couleur selon vos préférences */
        }
    </style>



        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">
        
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'userprincipale:index' %}">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard Nav -->
        
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'Authentification:login' %}">
                        <i class="bi bi-house-check"></i>
                        <span>Accueil</span>
                    </a>
                </li><!-- End Components Nav -->
        
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'userprincipale:scolarity' %}">
                        <i class="bi bi-people"></i>
                        <span>Scolarités</span>
                    </a>
                </li><!-- End Forms Nav -->
        
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'userprincipale:enseignant' %}">
                        <i class="bi bi-people"></i>
                        <span>Enseignants</span>
                    </a>
                </li><!-- End Tables Nav -->
        
                <li class="nav-heading">Pages</li>
        
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'userprincipale:usersprofile' %}">
                        <i class="bi bi-person"></i>
                        <span>Mon Profil</span>
                    </a>
                </li><!-- End Profile Page Nav -->
        
            </ul>
        
        </aside><!-- End Sidebar-->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Dashboard-Admin</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'userprincipale:enseignant' %}">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard-Admin</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="container mt-5">
                <div class="container mt-5">
                    <h2>Modifier un enseignant</h2>
                    <form class=" p-4 shadow" style="width: 50%;"method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Matricule" class="form-label">Matricule</label>
                            {{ form.matricule|add_class:"form-control" }}
                            <div class="invalid-feedback">Veuillez entrer le matricule svp!</div>
                        </div>

                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            {{ form.username|add_class:"form-control" }}
                        </div>
                        
                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prenom(s)</label>
                            {{ form.prenom|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="specialite" class="form-label">Spécialité</label>
                            {{ form.specialite|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="form-label">E-mail</label>
                            {{ form.email|add_class:"form-control" }}
                        </div>
                      
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary shadow">
                                <i class="bi bi-plus"></i> Modifier</button>
                        </div>
                    </form>

                  </div>
        </section>


    </main><!-- End #main -->

   {% endblock %}
