{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard Admin {% endblock %}

{% block content %}

    <style>
    /* Style pour les labels */
    label {
        font-weight: bold;
        color: #333;
        /* Changer la couleur selon vos préférences */
    }
    </style>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'userprincipale:index' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'Authentification:login' %}">
                <i class="bi bi-house-check"></i>
                <span>Accueil</span>
            </a>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'userprincipale:scolarity' %}">
                <i class="bi bi-people"></i>
                <span>Scolarités</span>
            </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'userprincipale:enseignant' %}">
                <i class="bi bi-people"></i>
                <span>Enseignants</span>
            </a>
        </li><!-- End Tables Nav -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'userprincipale:usersprofile' %}">
                <i class="bi bi-person"></i>
                <span>Mon Profil</span>
            </a>
        </li><!-- End Profile Page Nav -->

    </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h6><span class="d-none d-lg-block">Gestion de copies d'étudiants de l'Université Norbert ZONGO</span></h6>
        
            <h1>Administrateur du site</h1>
            <nav>
            
                <ol class="breadcrumb">
                 <li class="breadcrumb-item active">Dashboard-Admin</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        {% comment %} {% if messages %} {% endcomment %}
        <section class="section profile">
            <div class="container mt-5">
                <div class="container mt-5">
                    <h2>Ajouter une scolarité</h2>

                    <form class=" p-4 shadow" action="{% url 'userprincipale:scolarity' %}" style="width: 50%;" method='POST'>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="Matriclue" class="form-label">Matricule</label>
                            <input type="text" name="" class="form-control" id="Matriclue" required>
                            <div class="invalid-feedback">Veuillez entrer le matricule svp!</div>
                        </div>

                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" name="username" class="form-control" id="username" required>
                            <div class="invalid-feedback">Veuillez entrer le nom svp!</div>
                        </div>

                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prénom(s)</label>
                            <input type="text" name="prenom" class="form-control" id="prenom" required>
                            <div class="invalid-feedback">Veuillez entrer le prénom svp!</div>
                        </div>

                        <div class="mb-3">
                            <label for="fonction" class="form-label">Emploi/Fonction</label>
                            <input type="text" name="fonction" class="form-control" id="fonction" required>
                            <div class="invalid-feedback">Veuillez remplir le champ emplio/fonction svp!</div>
                        </div>

                        <div class="mb-3">
                            <label for="etablissement" class="form-label">Scolarité</label>
                            <input type="text" name="etablissement" class="form-control" id="etablissement" required>
                            <div class="invalid-feedback">Veuillez entrer la scolarité!</div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" name="email" class="form-control" id="email" required>
                            <div class="invalid-feedback">Veuillez entrer le champ email!</div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary shadow">
                                <i class="bi bi-plus"></i> Ajouter</button>
                        </div>
                    </form>

                  </div>
        </section>

    </main><!-- End #main -->

{% endblock %}