{% extends 'base.html' %}

{% block title %} Dashboard Admin {% endblock %}

{% block content %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Scolarité</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'userprincipale:index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Scolarité</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="container mt-5">
                <h2>Gestion des événements</h2>

                <!-- Boutons pour les opérations -->
                <div class="row justify-content-start">
                    <div class="col-auto">
                        <a href="{% url 'userprincipale:ajouter' %}" class="btn btn-primary shadow">
                            <i class="bi bi-plus"></i> Ajouter
                        </a>
                    </div>
                </div>
            </div>

            <!-- Tableau pour afficher les produits -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Catégorie</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Lieu</th>
                        <th>Promoteur</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <td>1</td>
                    <td>Concert</td>
                    <td>17/06/2024</td>
                    <td>20/06/2024</td>
                    <td>Koudougou</td>
                    <td>CIN</td>
                    <td>
                        <a href="{% url 'userprincipale:editer' %}" class="btn btn-warning shadow">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="" class="btn btn-danger shadow">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tbody>
            </table>
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}
    